{% extends "dispatch/base.html" %}
{% load static %}
{% load my_tags %}
{% block content %}
    <main>
        <h1 class="visually-hidden">Features examples</h1>

        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom">Пользователи сервиса</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                {% for user in users %}
                    <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#collection"/>
                        </svg>
                    </div>
                        <h3 class="fs-2 text-body-emphasis">Имя пользователя: {{ user.email }}</h3>
                        <p>
                        {% if user.is_active %}
                            <a href="{% url 'users:block_user' user.pk %}" class="btn btn-outline-danger"
                               role="button">Блокировать</a>
                        {% else %}
                            <a href="{% url 'users:unblock_user' user.pk %}" class="btn btn-outline-success"
                               role="button">Разблокировать</a>
                        {% endif %}


                </p>
                {% endfor %}
                </div>
            </div>
        </div>


    </main>


    </body>
    </html>
{% endblock %}
